h1{color: blue;
  font-family: "Helvetica"}

h2{color:blue;
    font-family:"algerian"}

h3{color:blue;
font-family:"algerian"}


body{background-color:blue;
background-image: url("https://www.lawinsport.com/media/zoo/images/Multiple_sports_on_black_background_b53a92eb1af5757073b0db7fc693a27e.jpg");
background-size:cover;
background-position:50% 50%;
}   

/* navbar styles*/

header{background-color:#9ba1ef;
}

ul {list-style:square;
}

li {list-style-type:circle;
    display:inline-block;
    padding: 0 15px;
}
/* End navbar styles */
