h1 {
    color: #2557a8;
    font-family: "Helvetica";
}
h2{color: #bc0d0d;
    font-family:"algerian"}
h2{color:#bc0d0d
font-family:"algerian"}
h3{color:yellow 
font-family:"helvetica"}
h4{color:red
font-family:"calibri"}
h5{color4:yellow
font-family:"calibriabove"}
  
body{background-color:red;
}