h1{
    color: #2557a8;
    font-family: "Helvetica";
}
h2{color: #bc0d0d;
    font-family:"algerian"}
h2{color:#bc0d0d
font-family:"algerian"}
h3{color:yellow 
font-family:"helvetica"}
h4{color:red
font-family:"calibri"}
h5{color:yellow
font-family:"calibriabove"}
  
body{background-color:blue;
background-image: url("https://www.spalding.com/on/demandware.static/-/Sites-spalding_us-Library/default/dw9e6180d8/images/basketballPicker/indoor.jpg");
background-size:cover}   


/* navbar styles*/

header{background-color:#9ba1ef;
}

ul {list-style:none;
}

li {list-style-type:none;
    display:inline-block;
    padding: 0 15px;
} 
/* End navbar styles */